body {
    background-color: antiquewhite;
}
header {
    border: 10px solid antiquewhite;
    position: sticky;
    top: 0;
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    color:lightseagreen;
    font-family: 'Courier New';
}
nav {
    text-align: center;
}
nav > a {
    padding-left: 50px;
    padding-right: 50px;
    color: lightseagreen;
    font-size: 20px;
    font-family: 'Courier New';
}
img#surfer {
    height: 47pc;
    width: 90pc;
}
p.intro {
    padding-right: 60%;
    text-align: center;
    position: relative;
    top: 30pc;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
nav > a.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
nav > a.fa:hover {
    opacity: 0,7;
}
nav > a.fa-instagram {
    color: lightseagreen;
}
nav > a.fa-linkedin {
    color: lightseagreen;
}
nav > a.fa-github {
    color: lightseagreen;
}