body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color:lightseagreen;
}
nav {
    text-align: center;
}
nav > a {
    padding-left: 50px;
    padding-right: 50px;
    color: lightseagreen;
}
img#surfer {
    width: 90%;
    height: 45pc;
    padding-left: 45pc;
}