body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color:lightseagreen;
    font-family: 'Courier New';
}
nav {
    text-align: center;
}
nav > a {
    padding-left: 50px;
    padding-right: 50px;
    color: lightseagreen;
    font-size: 20px;
    font-family: 'Courier New';
}
img#surfer {
    width: 50%;
    height: 45pc;
    padding-left: 45pc;
}
p.intro {
    padding-right: 60%;
    text-align: center;
    position: relative;
    top: 15pc;
}